:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-grey-light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --leter-spacing: 0.1em;

  --line-height-lg: 1.64;
  --line-height-sm: 1.2;

  --container-primary: 1110px;
  --container-small: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-sm);
}
a {
  text-decoration: none;
}
li:hover a {
  color: var(--color-primary);
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}
.container--sm {
  width: min(100% - var(--gap-lg), var(--container-small));
  margin-inline: auto;
}
.header {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: var(--color-grey-light);
  min-height: 700px;
}
.navbar {
  margin-bottom: 145px;
}
.navbar__list {
  display: flex;
  gap: 43px;
}

.navbar__link {
  color: var(--color-black);
  line-height: var(--line-height-lg);
  letter-spacing: var(--leter-spacing);
  padding: var(--gap-sm) 0;
}
.content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.content__title {
  color: var(--color-black);
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-lg);
  margin: 0 0 4px;
}
.content__description {
  color: var(--color-secondary);
  line-height: var(--line-height-lg);
  margin-bottom: 26px;
}
.content__comment {
  color: var(--color-white);
  letter-spacing: var(--leter-spacing);
  background-color: var(--color-primary);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
  min-height: 65px;
}
.about {
  padding-top: 110px;
  padding-bottom: 94px;
  background-color: var(--color-light);
}

.about__title {
  color: var(--color-black);
  text-align: center;
  margin-bottom: 39px;
  font-size: 2rem;
  font-weight: 500;
}
.about__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
}
.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 108px 0 88px;
}
.experience__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}
.experience__item {
  display: flex;
  gap: var(--gap);
}
.experience-item__drscription {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.experience-item__text {
  line-height: var(--line-height-lg);
  margin-top: -5px;
}
.experience-item__image {
  order: -1;
}
.process {
  margin-top: 100px;
}
.process__title {
  color: var(--color-black);
  text-align: center;
  margin-bottom: 39px;
  font-size: 2rem;
  font-weight: 500;
}
.process__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
  margin-bottom: 50px;
}
.video {
  padding-bottom: 100px;
  background-color: var(--color-light);
}
.iframe__video {
  width: 100%;
  height: 600px;
  border: 0;
}
.footer {
  min-height: 150px;
  background-color: var(--color-primary);
  padding: 40px 0;
  color: var(--color-white);
  padding-bottom: 50px;
}
.footer__name {
  margin: 0 0 20px 0;
  font-size: 1.3125rem;
  font-weight: 500;
}
.footer__copyright {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-lg);
}

@media (max-width: 992px) {
  .experience__container {
    justify-content: center;
  }

  .iframe__video {
    height: 500px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 14px;
  }

  .header {
    min-height: 600px;
  }

  .navbar__list {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .content__description {
    font-size: 16px;
  }

  .content__comment {
    min-width: 190px;
    min-height: 50px;
  }

  .about {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about__description {
    font-size: 16px;
  }

  .iframe__video {
    height: 400px;
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 400px;
  }

  .content__title {
    font-size: 2.5rem;
  }

  .navbar {
    margin-bottom: 30px;
  }

  .navbar__list {
    gap: 10px;
  }

  .content {
    align-items: center;
  }

  .content__description {
    text-align: center;
  }

  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .experience {
    padding: 65px 0px 65px;
  }

  .iframe__video {
    height: 250px;
  }
}
